<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <application
        android:name=".MediFindApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediFindOne"
        tools:targetApi="31">
        <activity
            android:name=".DoctorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SearchDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".EnterAppointmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseAppointmentSlotActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".PharmaciesActivity"
            android:exported="false" />
        <activity
            android:name=".EmergencyContactActivity"
            android:exported="false" />
        <activity
            android:name=".AddEmergencyContactActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />
        <activity
            android:name=".HospitalsActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.MediFind" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.MediFind" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>